@use "../node_modules/bootstrap/scss/bootstrap.scss";

//COLORS
$bln-primary: #76BED0;
$bln-secondary: #dc3543;
$bln-success: #F7CB15;
$bln-light: #ffff;
$bln-dark: #1b1b1b;

$bln-sw-warning: #fee003;

.sw_warning {
    color: $bln-sw-warning;
}

//HEIGHT
$bln-height: 90vh;

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;

}

a {
    color: $bln-sw-warning;
    text-decoration: none;
    transition: .5s;


    &:hover {
        color: $bln-secondary;
    }
}

.rettangolo {
    height: 300px;
    width: 300px;
    background-color: red;
}